<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<root>
    <titleServer>
        <name>Monitor from GOLD Server 1</name>
        <phone>0942492899</phone>
        <delay>120000</delay>
    </titleServer>
    <catePing>
        <elementPing>
            <address>10.58.98.52</address>
            <desction>GOLD Server 1</desction>
        </elementPing>
        <elementPing>
            <address>10.58.98.54</address>
            <desction>GOLD Server 2</desction>
        </elementPing>
    </catePing>
    <cateTelnet>
        <elementTelnet>
            <address>10.58.98.52</address>
            <port>8686</port>
            <desction>GOLD APP 1</desction>
        </elementTelnet>
        <elementTelnet>
            <address>10.58.98.54</address>
            <port>8686</port>
            <desction>GOLD APP 2</desction>
        </elementTelnet>
        <elementTelnet>
            <address>10.58.98.52</address>
            <port>3306</port>
            <desction>GOLD DB 1</desction>
        </elementTelnet>
        <elementTelnet>
            <address>10.58.98.54</address>
            <port>3306</port>
            <desction>GOLD DB 2</desction>
        </elementTelnet>
    </cateTelnet>
    
</root>
